<template>
  <div
    class="board"
    @click.left="changeDirection('left')"
  >
    <div
      v-for="(row, rowNum) in map"
      :class="`row col-${rowNum}`"
      :key="rowNum"
    >
      <div
        v-for="(cells, cellNum) in map[rowNum]"
        :class="`cell col-${rowNum}-${cellNum}`"
        :key="cellNum"
      >
        <template v-for="(item, index) in map[rowNum][cellNum]">
          <component
            :is="item.type"
            :key="index"
          />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { gameItems } from '../data/gameData'
import Snake from './Snake'
import Food from './Food'

export default {
  props: {
    rows: {
      type: Number,
      default: 5
    },
    cells: {
      type: Number,
      default: 5
    }
  },
  data () {
    return {
      direction: ['right', 'down', 'left', 'up'],
      map: [],
      currentPlayer: ''
    }
  },
  methods: {
    randomNum (max) {
      return Math.floor(Math.random() * max)
    },
    randomCords () {
      const rowNum = this.randomNum(this.rows)
      const cellNum = this.randomNum(this.cells)

      return { rowNum, cellNum }
    },
    removeItem (itemId, cords) {
      this.map[cords.rowNum][cords.cellNum] = this.map[cords.rowNum][cords.cellNum].filter(item => {
        return item.id !== itemId
      })
    },
    addItem (item, cords) {
      this.map[cords.rowNum][cords.cellNum].push(item)
    },
    setCurrentPlayer (item) {
      if (Object.values(item.cords).length) {
        this.currentPlayer = item
      }
    },
    findItemByType (type, cords) {
      return this.map[cords.rowNum][cords.cellNum].find(item => {
        return item.type === type
      })
    },
    movePlayer () {
      const player = this.currentPlayer
      const direction = this.direction[0]
      const lastCordsKey = player.cords.length - 1
      let cellNum = player.cords[lastCordsKey].cellNum
      let rowNum = player.cords[lastCordsKey].rowNum

      switch (direction) {
        case 'right':
          cellNum = cellNum + 1
          break
        case 'left':
          cellNum = cellNum - 1
          break
        case 'up':
          rowNum = rowNum - 1
          break
        case 'down':
          rowNum = rowNum + 1
          break
      }

      if (cellNum < this.cells &&
        rowNum < this.rows &&
        cellNum >= 0 &&
        rowNum >= 0
      ) {
        const cords = { rowNum, cellNum }

        player.cords.push(cords)
        this.addItem(player, cords)

        const food = this.findItemByType('food', cords)

        if (food) {
          const newCords = this.randomCords()

          player.length = player.length + food.length

          this.addItem(food, newCords)
          this.removeItem(food.id, cords)
        }

        if (player.cords.length > player.length) {
          const lastCords = player.cords.shift()
          this.removeItem(player.id, lastCords)
        }
      }
    },
    changeDirection (direction) {
      switch (direction) {
        case 'left':
          this.direction.push(this.direction.shift())
          break
        case 'right':
          this.direction.push(this.direction.pop())
          break
      }
    },
    startGame () {
      setInterval(() => {
        this.movePlayer()
      }, 500)
    }
  },
  created () {
    for (let row = 0; row < this.rows; row++) {
      this.map.push([])
      for (let cell = 0; cell < this.cells; cell++) {
        this.map[row].push([])
      }
    }

    gameItems.forEach(item => {
      const cords = this.randomCords()
      item.cords.push(cords)
      this.addItem(item, cords)

      if (item.type === 'snake') {
        this.setCurrentPlayer(item)
      }
    })

    this.startGame()
  },
  components: {
    Snake,
    Food
  }
}
</script>

<style>
.board {
  background-color: pink;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.row {
  display: flex;
  flex: auto;
}
.cell {
  width: 100%;
  border: 1px solid #dfaeb6;
  position: relative;
}
.cell > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
