<template>
  <div class="rat"></div>
</template>

<script>
export default {
  props: {
    colour: {
      type: String,
      default: 'white'
    },
    name: {
      type: String,
      default: 'Solina'
    }
  },
  data () {
    return {
      body: []
    }
  }
}
</script>

<style>
.rat {
  background-color: red
}
</style>
