<template>
  <div class="snake"></div>
</template>

<script>
export default {
  props: {
    colour: {
      type: String,
      default: 'white'
    },
    name: {
      type: String,
      default: 'Solina'
    }
  }
}
</script>

<style>
.snake {
  background-color: #ffffff6b;
  z-index: 5;
}
</style>
