<template>
  <div id="app">
    <board />
  </div>
</template>

<script>
import Board from './components/Board.vue'
import Snake from './components/Snake.vue'

export default {
  name: 'app',
  components: {
    Board,
    Snake
  }
}
</script>

<style>
body {
  margin: 0;
}
</style>
